
html {
   font-size: 1em;
}

.flex-container {
   overflow: hidden;
   display: flex;
   margin: 1em;
}

.item {
   margin: 1em;
   padding: 0.5em;
   width: 100%;
   min-width: 0;
   color: white;
   font-family: monospace;
}

.container {
   margin-top: 120px;
   margin-left: 227px;
   margin-bottom: 101px;
   padding-right: 0;
   padding-left: 0;
   width: 400px;
   height: 600px;
   perspective: 500;
}

ul.cube {
   cursor: all-scroll;
   display: block;
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
   margin: -100px;
   padding: 0;
}

li.cara {
   background: rgba(236, 237, 239, 1);
   border: 1px solid #555555;
   display: block;
   list-style-type: none;
   position: absolute;
   width: 100%;
   height: 100%;
   font-size: 1.5em;
   text-align: center;
}

.cara:nth-child(1) {
   background: rgba(60, 64, 75, 1);
   transform: rotate(0deg) translateZ(200px);
}

.cara:nth-child(2) {
   transform: rotateX(-90deg) translateZ(400px);
   width: 400px;
   height: 400px;
}

.cara:nth-child(3) {
   background: rgba(60, 64, 75, 0.2);
   transform: rotateX(90deg) translateZ(200px);
   width: 400px;
   height: 400px;
}

.cara:nth-child(4) {
   transform: rotateY(-90deg) translateZ(200px);
}

.cara:nth-child(5) {
   transform: rotateY(90deg) translateZ(200px);
}

.cara:nth-child(6) {
   background: rgba(47, 64, 115, 1);
   transform: rotateY(180deg) translateZ(200px);
}

.description{
   color: darkblue;
   font-size: 1.3em;
}

.title{
   color: darkblue;
   text-align: center;
   font-size: 3em;
}

h1{
   font-size: 1.8em;
   font-family: fantasy;
   margin: 25px 0px 15px 0px;
}

h2 {
   font-size: 1.2em;
   font-family: fantasy;

   margin: 15px 5px 0px 5px;
}

ul{
   font-size: 0.7em;
   text-align: left;
}

.boxSlice{
   color: darkblue;
   text-align: center;
   font-size: 1.2em;
}

.functionalities{
   margin-top: 30px;
}

.prerequisites {
   margin-top: 30px;

}


.slogan {
   margin: 20px 10px 10px 10px;
   font-size: 1.3em;
}
